<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCF02BC81E03F0EA00C113A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF02BDC1E03F0F000C113A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF02BE71E03F0F000C113A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
